<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DOOR_INFO_FOR_ONEMAN" >
  <resultMap id="BaseResultMap" type="com.elk.elkweb.entity.DoorInfoOneMan" >
    <result column="PERSONNAME" property="personname" jdbcType="VARCHAR" />
    <result column="CLASSNO" property="classno" jdbcType="DECIMAL" />
    <result column="PLACECOUNT" property="placecount" jdbcType="DECIMAL" />
    <result column="CQ" property="cq" jdbcType="DECIMAL" />
    <result column="JB" property="jb" jdbcType="DECIMAL" />
    <result column="ZS" property="zs" jdbcType="DECIMAL" />
    <result column="TIME" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.elk.elkweb.entity.DoorInfoOneMan" >
    insert into DOOR_INFO_FOR_ONEMAN (PERSONNAME, CLASSNO, PLACECOUNT, 
      CQ, JB, ZS, TIME
      )
    values (#{personname,jdbcType=VARCHAR}, #{classno,jdbcType=DECIMAL}, #{placecount,jdbcType=DECIMAL}, 
      #{cq,jdbcType=DECIMAL}, #{jb,jdbcType=DECIMAL}, #{zs,jdbcType=DECIMAL}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.elk.elkweb.entity.DoorInfoOneMan" >
    insert into DOOR_INFO_FOR_ONEMAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="personname != null" >
        PERSONNAME,
      </if>
      <if test="classno != null" >
        CLASSNO,
      </if>
      <if test="placecount != null" >
        PLACECOUNT,
      </if>
      <if test="cq != null" >
        CQ,
      </if>
      <if test="jb != null" >
        JB,
      </if>
      <if test="zs != null" >
        ZS,
      </if>
      <if test="time != null" >
        TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="personname != null" >
        #{personname,jdbcType=VARCHAR},
      </if>
      <if test="classno != null" >
        #{classno,jdbcType=DECIMAL},
      </if>
      <if test="placecount != null" >
        #{placecount,jdbcType=DECIMAL},
      </if>
      <if test="cq != null" >
        #{cq,jdbcType=DECIMAL},
      </if>
      <if test="jb != null" >
        #{jb,jdbcType=DECIMAL},
      </if>
      <if test="zs != null" >
        #{zs,jdbcType=DECIMAL},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>