<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elk.elkweb.mapper.EPYMapper">
    <resultMap id="BaseResultMap" type="com.elk.elkweb.entity.DoorInfo">
        <result column="XH" property="xh" jdbcType="DECIMAL"/>
        <result column="FX" property="fx" jdbcType="DECIMAL"/>
        <result column="JL_SJ" property="jlSj" jdbcType="TIMESTAMP"/>
        <result column="USER_NO" property="userNo" jdbcType="OTHER"/>
        <result column="USER_LNAME" property="userLname" jdbcType="OTHER"/>
        <result column="USER_DEPNAME" property="userDepname" jdbcType="OTHER"/>
        <result column="DEP_NAME" property="depName" jdbcType="OTHER"/>
    </resultMap>
    <insert id="insert" parameterType="com.elk.elkweb.entity.DoorInfo">
        insert into DOOR_INFO (XH, FX, JL_SJ,
                               USER_NO, USER_LNAME, USER_DEPNAME,
                               DEP_NAME)
        values (#{xh,jdbcType=DECIMAL}, #{fx,jdbcType=DECIMAL}, #{jlSj,jdbcType=TIMESTAMP},
                #{userNo,jdbcType=OTHER}, #{userLname,jdbcType=OTHER}, #{userDepname,jdbcType=OTHER},
                #{depName,jdbcType=OTHER})
    </insert>
    <insert id="insertSelective" parameterType="com.elk.elkweb.entity.DoorInfo">
        insert into DOOR_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="xh != null">
                XH,
            </if>
            <if test="fx != null">
                FX,
            </if>
            <if test="jlSj != null">
                JL_SJ,
            </if>
            <if test="userNo != null">
                USER_NO,
            </if>
            <if test="userLname != null">
                USER_LNAME,
            </if>
            <if test="userDepname != null">
                USER_DEPNAME,
            </if>
            <if test="depName != null">
                DEP_NAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="xh != null">
                #{xh,jdbcType=DECIMAL},
            </if>
            <if test="fx != null">
                #{fx,jdbcType=DECIMAL},
            </if>
            <if test="jlSj != null">
                #{jlSj,jdbcType=TIMESTAMP},
            </if>
            <if test="userNo != null">
                #{userNo,jdbcType=OTHER},
            </if>
            <if test="userLname != null">
                #{userLname,jdbcType=OTHER},
            </if>
            <if test="userDepname != null">
                #{userDepname,jdbcType=OTHER},
            </if>
            <if test="depName != null">
                #{depName,jdbcType=OTHER},
            </if>
        </trim>
    </insert>

    <!--  根据姓名查询员工刷卡信息  -->
    <select id="getEpyCardInfo" resultType="map">
        select *
        from (
                 select user_lname, jl_sj, dep_name
                 from DOOR_INFO t
                 where user_lname like concat(concat('%', #{user_lname,jdbcType=VARCHAR}), '%')
                 order by jl_sj desc
             )
        where rownum <![CDATA[<=]]> 30
    </select>


    <!--  根据姓名查询员工统计数据  -->
    <select id="getEpyCardData" resultType="map">
        select *
        from (
                 select *
                 from DOOR_INFO_FOR_ONEMAN t
                 where personname like concat(concat('%', #{personname,jdbcType=VARCHAR}), '%')
                 order by time desc
             )
        where rownum <![CDATA[<=]]> 1
    </select>

    <!--  根据姓名查询员工外网浏览信息  -->
    <select id="getEpyNetInfo" resultType="map">
        select distinct t.time,
                        t.ip,
                        t.workcountsofworktime,
                        t.playcountsofworktime,
                        t.othercountsofworktime,
                        t.workcountsofsparetime,
                        t.othercountsofsparetime,
                        t.workdayflag,
                        t.distinctpagecount,
                        t.playtimerateofworktime
        from MAIL_WEBPAGE_TJ t
        where ip in (select ip from PARAMS_IPANDUSER where users = #{username,jdbcType=VARCHAR})
          and time between (select max (time)-7 from MAIL_WEBPAGE_TJ)
          and (select max (time) from MAIL_WEBPAGE_TJ)
        order by time desc
    </select>

    <!--  根据姓名查询员工DQMDS信息  -->
    <select id="getEpyDQMSInfo" resultType="map">
        select *
        from (
                 select username, operationtime, description
                 from MDS_LOG t
                 where username like concat(concat('%', #{username,jdbcType=VARCHAR}), '%')
                 order by operationtime desc
             )
        where rownum <![CDATA[<=]]> 30

    </select>

    <!--  根据姓名查询员工统计数据  -->
    <select id="getEpyDQMDSData" resultType="map">
        select *
        from (
                 select *
                 from MDS_LOG_FOR_ONEMAN t
                 where personname like concat(concat('%', #{personname,jdbcType=VARCHAR}), '%')
                 order by time desc
             )
        where rownum <![CDATA[<=]]> 1
    </select>


    <!--  ————默认查询 begin————  -->
    <select id="getDefaultCardInfo" resultType="map">
        select t.dep_name, count(*) as cou
        from DOOR_INFO t
        where t.jl_sj between (select max(jl_sj) - 1 from DOOR_INFO) and (select max(jl_sj) from DOOR_INFO)
        group by t.dep_name
        order by cou desc
    </select>

    <select id="getDefaultNetInfo" resultType="map">
        select time, ROUND(avg (t.workcountsofworktime),2) as workcountsofworktime, ROUND(avg (t.playcountsofworktime),2) as playcountsofworktime, ROUND(avg (t.othercountsofworktime),2) asothercountsofworktime
        from MAIL_WEBPAGE_TJ t
        where time between (select max (time)-6 from MAIL_WEBPAGE_TJ) and (select max (time) from MAIL_WEBPAGE_TJ)
        group by time
        order by time desc
    </select>

    <select id="getDefaultDQMDS" resultType="map">
        select substr(description,8) as description,count(*) as cou from MDS_LOG t
        where  t.operationtime between (select max(operationtime) - 1 from MDS_LOG) and (select max(operationtime) from MDS_LOG)
        group by t.description order by cou desc
    </select>

    <select id="getDefaultSoftInfo" resultType="map">
        select time,count(distinct t.username) as cou from JK_LOGANALYIZE_USERUSAGE t  where time between (select max(time)-7 from JK_LOGANALYIZE_USERUSAGE) and (select max(time) from JK_LOGANALYIZE_USERUSAGE)
        group by time order by time desc
    </select>

    <select id="getDefaultBehavior" resultType="map">
        select t.time,count(*) as cou from PERSON_ACTION_LOG t  where time between (select max(time)-7 from PERSON_ACTION_LOG) and (select max(time) from PERSON_ACTION_LOG)
        group by t.time order by time desc
    </select>

    <!--  ————默认查询 end————  -->
</mapper>