<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elk.elkweb.mapper.EPYDEPDQMDSMapper" >
  <resultMap id="BaseResultMap" type="com.elk.elkweb.entity.EPYDEPDQMDS" >
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="COUNTS" property="counts" jdbcType="DECIMAL" />
    <result column="AVGDAYS" property="avgdays" jdbcType="DECIMAL" />
    <result column="COUNTONEDAY" property="countoneday" jdbcType="DECIMAL" />
    <result column="JB" property="jb" jdbcType="DECIMAL" />
    <result column="ONETYPE" property="onetype" jdbcType="DECIMAL" />
    <result column="TWOTYPE" property="twotype" jdbcType="DECIMAL" />
    <result column="THRTYPE" property="thrtype" jdbcType="DECIMAL" />
    <result column="TIME" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.elk.elkweb.entity.EPYDEPDQMDS" >
    insert into MDS_LOG_FOR_DEPARTMENT (NAME, COUNTS, AVGDAYS, 
      COUNTONEDAY, JB, ONETYPE, 
      TWOTYPE, THRTYPE, TIME
      )
    values (#{name,jdbcType=VARCHAR}, #{counts,jdbcType=DECIMAL}, #{avgdays,jdbcType=DECIMAL}, 
      #{countoneday,jdbcType=DECIMAL}, #{jb,jdbcType=DECIMAL}, #{onetype,jdbcType=DECIMAL}, 
      #{twotype,jdbcType=DECIMAL}, #{thrtype,jdbcType=DECIMAL}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.elk.elkweb.entity.EPYDEPDQMDS" >
    insert into MDS_LOG_FOR_DEPARTMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        NAME,
      </if>
      <if test="counts != null" >
        COUNTS,
      </if>
      <if test="avgdays != null" >
        AVGDAYS,
      </if>
      <if test="countoneday != null" >
        COUNTONEDAY,
      </if>
      <if test="jb != null" >
        JB,
      </if>
      <if test="onetype != null" >
        ONETYPE,
      </if>
      <if test="twotype != null" >
        TWOTYPE,
      </if>
      <if test="thrtype != null" >
        THRTYPE,
      </if>
      <if test="time != null" >
        TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="counts != null" >
        #{counts,jdbcType=DECIMAL},
      </if>
      <if test="avgdays != null" >
        #{avgdays,jdbcType=DECIMAL},
      </if>
      <if test="countoneday != null" >
        #{countoneday,jdbcType=DECIMAL},
      </if>
      <if test="jb != null" >
        #{jb,jdbcType=DECIMAL},
      </if>
      <if test="onetype != null" >
        #{onetype,jdbcType=DECIMAL},
      </if>
      <if test="twotype != null" >
        #{twotype,jdbcType=DECIMAL},
      </if>
      <if test="thrtype != null" >
        #{thrtype,jdbcType=DECIMAL},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="getDEPDQMDS" resultMap="BaseResultMap" parameterType="com.elk.elkweb.entity.EPYDEPDQMDS">
    select * from MDS_LOG_FOR_DEPARTMENT where time in (select max(time) from DOOR_INFO_FOR_DEPARTMENT) order by COUNTS desc
  </select>
</mapper>