<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elk.elkweb.mapper.HWLicenceMapper" >
  <resultMap id="BaseResultMap" type="com.elk.elkweb.entity.HWLicence" >
    <result column="LICENCE_SERVER" property="licenceServer" jdbcType="VARCHAR" />
    <result column="LOG_TIME" property="logTime" jdbcType="VARCHAR" />
    <result column="INPUT_TIME" property="inputTime" jdbcType="TIMESTAMP" />
    <result column="MODULE_NAME" property="moduleName" jdbcType="VARCHAR" />
    <result column="USER_ACTION" property="userAction" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_COPMUTER" property="userCopmuter" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.elk.elkweb.entity.HWLicence" >
    insert into LOG_LICENCEDATA_HW (LICENCE_SERVER, LOG_TIME, INPUT_TIME, 
      MODULE_NAME, USER_ACTION, USER_NAME, 
      USER_COPMUTER)
    values (#{licenceServer,jdbcType=VARCHAR}, #{logTime,jdbcType=VARCHAR}, #{inputTime,jdbcType=TIMESTAMP}, 
      #{moduleName,jdbcType=VARCHAR}, #{userAction,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userCopmuter,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.elk.elkweb.entity.HWLicence" >
    insert into LOG_LICENCEDATA_HW
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="licenceServer != null" >
        LICENCE_SERVER,
      </if>
      <if test="logTime != null" >
        LOG_TIME,
      </if>
      <if test="inputTime != null" >
        INPUT_TIME,
      </if>
      <if test="moduleName != null" >
        MODULE_NAME,
      </if>
      <if test="userAction != null" >
        USER_ACTION,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userCopmuter != null" >
        USER_COPMUTER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="licenceServer != null" >
        #{licenceServer,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null" >
        #{logTime,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null" >
        #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="userAction != null" >
        #{userAction,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCopmuter != null" >
        #{userCopmuter,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="showHWLience" resultMap="BaseResultMap">
    select * from (select * from LOG_LICENCEDATA_HW order by input_time desc) where rownum <![CDATA[<=]]> 200
  </select>
</mapper>