<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elk.elkweb.mapper.IPSMapper" >
  <resultMap id="BaseResultMap" type="com.elk.elkweb.entity.IPS_ANALYIZE" >
    <result column="TIME" property="time" jdbcType="TIMESTAMP" />
    <result column="IP" property="ip" jdbcType="OTHER" />
    <result column="DANGERVALUE" property="dangervalue" jdbcType="DECIMAL" />
  </resultMap>
  <insert id="insert" parameterType="com.elk.elkweb.entity.IPS_ANALYIZE" >
    insert into FW_IPS_ANALYIZE (TIME, IP, DANGERVALUE
      )
    values (#{time,jdbcType=TIMESTAMP}, #{ip,jdbcType=OTHER}, #{dangervalue,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.elk.elkweb.entity.IPS_ANALYIZE" >
    insert into FW_IPS_ANALYIZE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="time != null" >
        TIME,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="dangervalue != null" >
        DANGERVALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=OTHER},
      </if>
      <if test="dangervalue != null" >
        #{dangervalue,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <!--  查询IPS告警分析  -->
  <select id="getIPSAnalysis" resultType="map">
    select *
    from (
           select time,ip,dangervalue from FW_IPS_ANALYIZE t
           where time <![CDATA[<=]]> to_date(#{Time},'yyyy-MM-dd hh24:mi:ss')
           order by time desc,dangervalue desc,ip desc
           )
    where rownum <![CDATA[<=]]> 30
  </select>
  <!--  查询IPS详细信息  -->
  <select id="getIPSInfo" resultType="map">
    select time,attackname,severity,srcipaddr from FW_IPSALERT t
    where time between to_date(#{startTime},'yyyy-MM-dd hh24:mi:ss') and to_date(#{stopTime},' yyyy-MM-dd hh24:mi:ss')
    and dstipaddr=#{dstipaddr,jdbcType=VARCHAR}
    order by time desc
  </select>
  <!-- 根据源ip查询所有被攻击的ip -->
  <select id="getAttackedIP" resultType="map">
    select time,attackname,severity,dstipaddr from FW_IPSALERT
    where time between to_date(#{startTime},'yyyy-MM-dd hh24:mi:ss') and to_date(#{stopTime},' yyyy-MM-dd hh24:mi:ss')
    and srcipaddr=#{srcipaddr,jdbcType=VARCHAR}
    order by time desc
  </select>
</mapper>