<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elk.elkweb.mapper.ELKMapper">
  <resultMap id="BaseResultMap" type="com.elk.elkweb.entity.NodeSoftMap">
    <id column="NODE_ID" jdbcType="DECIMAL" property="nodeId" />
    <id column="NODE_TYPE" jdbcType="VARCHAR" property="nodeType" />
    <id column="SOFT_NAME" jdbcType="VARCHAR" property="softName" />
    <result column="WORK_LOAD" jdbcType="DECIMAL" property="workLoad" />
  </resultMap>
  <sql id="Base_Column_List">
    NODE_ID, NODE_TYPE, SOFT_NAME, WORK_LOAD
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.elk.elkweb.entity.NodeSoftMapKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from T_NODE_SOFT_MAP
    where NODE_ID = #{nodeId,jdbcType=DECIMAL}
    and NODE_TYPE = #{nodeType,jdbcType=VARCHAR}
    and SOFT_NAME = #{softName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.elk.elkweb.entity.NodeSoftMapKey">
    delete from T_NODE_SOFT_MAP
    where NODE_ID = #{nodeId,jdbcType=DECIMAL}
      and NODE_TYPE = #{nodeType,jdbcType=VARCHAR}
      and SOFT_NAME = #{softName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.elk.elkweb.entity.NodeSoftMap">
    insert into T_NODE_SOFT_MAP (NODE_ID, NODE_TYPE, SOFT_NAME,
                                 WORK_LOAD)
    values (#{nodeId,jdbcType=DECIMAL}, #{nodeType,jdbcType=VARCHAR}, #{softName,jdbcType=VARCHAR},
            #{workLoad,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.elk.elkweb.entity.NodeSoftMap">
    insert into T_NODE_SOFT_MAP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        NODE_ID,
      </if>
      <if test="nodeType != null">
        NODE_TYPE,
      </if>
      <if test="softName != null">
        SOFT_NAME,
      </if>
      <if test="workLoad != null">
        WORK_LOAD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        #{nodeId,jdbcType=DECIMAL},
      </if>
      <if test="nodeType != null">
        #{nodeType,jdbcType=VARCHAR},
      </if>
      <if test="softName != null">
        #{softName,jdbcType=VARCHAR},
      </if>
      <if test="workLoad != null">
        #{workLoad,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elk.elkweb.entity.NodeSoftMap">
    update T_NODE_SOFT_MAP
    <set>
      <if test="workLoad != null">
        WORK_LOAD = #{workLoad,jdbcType=DECIMAL},
      </if>
    </set>
    where NODE_ID = #{nodeId,jdbcType=DECIMAL}
    and NODE_TYPE = #{nodeType,jdbcType=VARCHAR}
    and SOFT_NAME = #{softName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elk.elkweb.entity.NodeSoftMap">
    update T_NODE_SOFT_MAP
    set WORK_LOAD = #{workLoad,jdbcType=DECIMAL}
    where NODE_ID = #{nodeId,jdbcType=DECIMAL}
      and NODE_TYPE = #{nodeType,jdbcType=VARCHAR}
      and SOFT_NAME = #{softName,jdbcType=VARCHAR}
  </update>

  <!--查询-->
  <select id="queryTableData" resultMap="BaseResultMap">
    select * from T_NODE_SOFT_MAP
  </select>
  <!--删除-->
  <delete id="del" parameterType="java.lang.String">
    delete from T_NODE_SOFT_MAP where NODE_TYPE=#{nodeType,jdbcType=VARCHAR}
  </delete>
  <!--新增-->
  <insert id="add" parameterType="com.elk.elkweb.entity.NodeSoftMap">
    insert into T_NODE_SOFT_MAP (NODE_TYPE, NODE_ID, SOFT_NAME,WORK_LOAD)
    values (#{nodeType,jdbcType=VARCHAR},
            #{nodeId,jdbcType=DECIMAL},
            #{softName,jdbcType=VARCHAR},
            #{workLoad,jdbcType=DECIMAL})
  </insert>
  <!--判断某个节点是否已经存在-->
  <select id="isExit" resultType="java.lang.Integer">
    select count(*) from T_NODE_SOFT_MAP where exists(select 1 from T_NODE_SOFT_MAP
                                                      where NODE_TYPE=#{nodeType,jdbcType=VARCHAR}
                                                        and NODE_ID=#{nodeId,jdbcType=DECIMAL}
                                                        and SOFT_NAME=#{softName,jdbcType=VARCHAR})
  </select>
</mapper>