<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elk.elkweb.mapper.LogQueryMapper">
    <resultMap id="BaseResultMap" type="com.elk.elkweb.entity.zabbixShenji">
        <result column="OS_USERNAME" property="osUsername" jdbcType="VARCHAR"/>
        <result column="USERNAME" property="username" jdbcType="VARCHAR"/>
        <result column="USERHOST" property="userhost" jdbcType="VARCHAR"/>
        <result column="TERMINAL" property="terminal" jdbcType="VARCHAR"/>
        <result column="TIMESTAMP" property="timestamp" jdbcType="TIMESTAMP"/>
        <result column="OWNER" property="owner" jdbcType="VARCHAR"/>
        <result column="OBJ_NAME" property="objName" jdbcType="VARCHAR"/>
        <result column="ACTION" property="action" jdbcType="DECIMAL"/>
        <result column="ACTION_NAME" property="actionName" jdbcType="VARCHAR"/>
        <result column="NEW_OWNER" property="newOwner" jdbcType="VARCHAR"/>
        <result column="NEW_NAME" property="newName" jdbcType="VARCHAR"/>
        <result column="OBJ_PRIVILEGE" property="objPrivilege" jdbcType="VARCHAR"/>
        <result column="SYS_PRIVILEGE" property="sysPrivilege" jdbcType="VARCHAR"/>
        <result column="ADMIN_OPTION" property="adminOption" jdbcType="VARCHAR"/>
        <result column="GRANTEE" property="grantee" jdbcType="VARCHAR"/>
        <result column="AUDIT_OPTION" property="auditOption" jdbcType="VARCHAR"/>
        <result column="SES_ACTIONS" property="sesActions" jdbcType="VARCHAR"/>
        <result column="LOGOFF_TIME" property="logoffTime" jdbcType="TIMESTAMP"/>
        <result column="LOGOFF_LREAD" property="logoffLread" jdbcType="DECIMAL"/>
        <result column="LOGOFF_PREAD" property="logoffPread" jdbcType="DECIMAL"/>
        <result column="LOGOFF_LWRITE" property="logoffLwrite" jdbcType="DECIMAL"/>
        <result column="LOGOFF_DLOCK" property="logoffDlock" jdbcType="VARCHAR"/>
        <result column="COMMENT_TEXT" property="commentText" jdbcType="VARCHAR"/>
        <result column="SESSIONID" property="sessionid" jdbcType="DECIMAL"/>
        <result column="ENTRYID" property="entryid" jdbcType="DECIMAL"/>
        <result column="STATEMENTID" property="statementid" jdbcType="DECIMAL"/>
        <result column="RETURNCODE" property="returncode" jdbcType="DECIMAL"/>
        <result column="PRIV_USED" property="privUsed" jdbcType="VARCHAR"/>
        <result column="CLIENT_ID" property="clientId" jdbcType="VARCHAR"/>
        <result column="ECONTEXT_ID" property="econtextId" jdbcType="VARCHAR"/>
        <result column="SESSION_CPU" property="sessionCpu" jdbcType="DECIMAL"/>
        <result column="EXTENDED_TIMESTAMP" property="extendedTimestamp" jdbcType="OTHER"/>
        <result column="PROXY_SESSIONID" property="proxySessionid" jdbcType="DECIMAL"/>
        <result column="GLOBAL_UID" property="globalUid" jdbcType="VARCHAR"/>
        <result column="INSTANCE_NUMBER" property="instanceNumber" jdbcType="DECIMAL"/>
        <result column="OS_PROCESS" property="osProcess" jdbcType="VARCHAR"/>
        <result column="SCN" property="scn" jdbcType="DECIMAL"/>
        <result column="SQL_BIND" property="sqlBind" jdbcType="OTHER"/>
        <result column="SQL_TEXT" property="sqlText" jdbcType="OTHER"/>
        <result column="OBJ_EDITION_NAME" property="objEditionName" jdbcType="VARCHAR"/>
        <result column="DBID" property="dbid" jdbcType="DECIMAL"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.elk.elkweb.entity.zabbixShenji" extends="BaseResultMap">
        <result column="TRANSACTIONID" property="transactionid" jdbcType="VARBINARY"/>
    </resultMap>
    <sql id="Blob_Column_List">
        TRANSACTIONID
    </sql>
    <insert id="insert" parameterType="com.elk.elkweb.entity.zabbixShenji">
        insert into ZABBIX_SHENJI (OS_USERNAME, USERNAME, USERHOST,
                                   TERMINAL, TIMESTAMP, OWNER,
                                   OBJ_NAME, ACTION, ACTION_NAME,
                                   NEW_OWNER, NEW_NAME, OBJ_PRIVILEGE,
                                   SYS_PRIVILEGE, ADMIN_OPTION, GRANTEE,
                                   AUDIT_OPTION, SES_ACTIONS, LOGOFF_TIME,
                                   LOGOFF_LREAD, LOGOFF_PREAD, LOGOFF_LWRITE,
                                   LOGOFF_DLOCK, COMMENT_TEXT, SESSIONID,
                                   ENTRYID, STATEMENTID, RETURNCODE,
                                   PRIV_USED, CLIENT_ID, ECONTEXT_ID,
                                   SESSION_CPU, EXTENDED_TIMESTAMP, PROXY_SESSIONID,
                                   GLOBAL_UID, INSTANCE_NUMBER, OS_PROCESS,
                                   SCN, SQL_BIND, SQL_TEXT,
                                   OBJ_EDITION_NAME, DBID, TRANSACTIONID)
        values (#{osUsername,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{userhost,jdbcType=VARCHAR},
                #{terminal,jdbcType=VARCHAR}, #{timestamp,jdbcType=TIMESTAMP}, #{owner,jdbcType=VARCHAR},
                #{objName,jdbcType=VARCHAR}, #{action,jdbcType=DECIMAL}, #{actionName,jdbcType=VARCHAR},
                #{newOwner,jdbcType=VARCHAR}, #{newName,jdbcType=VARCHAR}, #{objPrivilege,jdbcType=VARCHAR},
                #{sysPrivilege,jdbcType=VARCHAR}, #{adminOption,jdbcType=VARCHAR}, #{grantee,jdbcType=VARCHAR},
                #{auditOption,jdbcType=VARCHAR}, #{sesActions,jdbcType=VARCHAR}, #{logoffTime,jdbcType=TIMESTAMP},
                #{logoffLread,jdbcType=DECIMAL}, #{logoffPread,jdbcType=DECIMAL}, #{logoffLwrite,jdbcType=DECIMAL},
                #{logoffDlock,jdbcType=VARCHAR}, #{commentText,jdbcType=VARCHAR}, #{sessionid,jdbcType=DECIMAL},
                #{entryid,jdbcType=DECIMAL}, #{statementid,jdbcType=DECIMAL}, #{returncode,jdbcType=DECIMAL},
                #{privUsed,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{econtextId,jdbcType=VARCHAR},
                #{sessionCpu,jdbcType=DECIMAL}, #{extendedTimestamp,jdbcType=OTHER}, #{proxySessionid,jdbcType=DECIMAL},
                #{globalUid,jdbcType=VARCHAR}, #{instanceNumber,jdbcType=DECIMAL}, #{osProcess,jdbcType=VARCHAR},
                #{scn,jdbcType=DECIMAL}, #{sqlBind,jdbcType=OTHER}, #{sqlText,jdbcType=OTHER},
                #{objEditionName,jdbcType=VARCHAR}, #{dbid,jdbcType=DECIMAL}, #{transactionid,jdbcType=VARBINARY})
    </insert>
    <insert id="insertSelective" parameterType="com.elk.elkweb.entity.zabbixShenji">
        insert into ZABBIX_SHENJI
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="osUsername != null">
                OS_USERNAME,
            </if>
            <if test="username != null">
                USERNAME,
            </if>
            <if test="userhost != null">
                USERHOST,
            </if>
            <if test="terminal != null">
                TERMINAL,
            </if>
            <if test="timestamp != null">
                TIMESTAMP,
            </if>
            <if test="owner != null">
                OWNER,
            </if>
            <if test="objName != null">
                OBJ_NAME,
            </if>
            <if test="action != null">
                ACTION,
            </if>
            <if test="actionName != null">
                ACTION_NAME,
            </if>
            <if test="newOwner != null">
                NEW_OWNER,
            </if>
            <if test="newName != null">
                NEW_NAME,
            </if>
            <if test="objPrivilege != null">
                OBJ_PRIVILEGE,
            </if>
            <if test="sysPrivilege != null">
                SYS_PRIVILEGE,
            </if>
            <if test="adminOption != null">
                ADMIN_OPTION,
            </if>
            <if test="grantee != null">
                GRANTEE,
            </if>
            <if test="auditOption != null">
                AUDIT_OPTION,
            </if>
            <if test="sesActions != null">
                SES_ACTIONS,
            </if>
            <if test="logoffTime != null">
                LOGOFF_TIME,
            </if>
            <if test="logoffLread != null">
                LOGOFF_LREAD,
            </if>
            <if test="logoffPread != null">
                LOGOFF_PREAD,
            </if>
            <if test="logoffLwrite != null">
                LOGOFF_LWRITE,
            </if>
            <if test="logoffDlock != null">
                LOGOFF_DLOCK,
            </if>
            <if test="commentText != null">
                COMMENT_TEXT,
            </if>
            <if test="sessionid != null">
                SESSIONID,
            </if>
            <if test="entryid != null">
                ENTRYID,
            </if>
            <if test="statementid != null">
                STATEMENTID,
            </if>
            <if test="returncode != null">
                RETURNCODE,
            </if>
            <if test="privUsed != null">
                PRIV_USED,
            </if>
            <if test="clientId != null">
                CLIENT_ID,
            </if>
            <if test="econtextId != null">
                ECONTEXT_ID,
            </if>
            <if test="sessionCpu != null">
                SESSION_CPU,
            </if>
            <if test="extendedTimestamp != null">
                EXTENDED_TIMESTAMP,
            </if>
            <if test="proxySessionid != null">
                PROXY_SESSIONID,
            </if>
            <if test="globalUid != null">
                GLOBAL_UID,
            </if>
            <if test="instanceNumber != null">
                INSTANCE_NUMBER,
            </if>
            <if test="osProcess != null">
                OS_PROCESS,
            </if>
            <if test="scn != null">
                SCN,
            </if>
            <if test="sqlBind != null">
                SQL_BIND,
            </if>
            <if test="sqlText != null">
                SQL_TEXT,
            </if>
            <if test="objEditionName != null">
                OBJ_EDITION_NAME,
            </if>
            <if test="dbid != null">
                DBID,
            </if>
            <if test="transactionid != null">
                TRANSACTIONID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="osUsername != null">
                #{osUsername,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="userhost != null">
                #{userhost,jdbcType=VARCHAR},
            </if>
            <if test="terminal != null">
                #{terminal,jdbcType=VARCHAR},
            </if>
            <if test="timestamp != null">
                #{timestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="owner != null">
                #{owner,jdbcType=VARCHAR},
            </if>
            <if test="objName != null">
                #{objName,jdbcType=VARCHAR},
            </if>
            <if test="action != null">
                #{action,jdbcType=DECIMAL},
            </if>
            <if test="actionName != null">
                #{actionName,jdbcType=VARCHAR},
            </if>
            <if test="newOwner != null">
                #{newOwner,jdbcType=VARCHAR},
            </if>
            <if test="newName != null">
                #{newName,jdbcType=VARCHAR},
            </if>
            <if test="objPrivilege != null">
                #{objPrivilege,jdbcType=VARCHAR},
            </if>
            <if test="sysPrivilege != null">
                #{sysPrivilege,jdbcType=VARCHAR},
            </if>
            <if test="adminOption != null">
                #{adminOption,jdbcType=VARCHAR},
            </if>
            <if test="grantee != null">
                #{grantee,jdbcType=VARCHAR},
            </if>
            <if test="auditOption != null">
                #{auditOption,jdbcType=VARCHAR},
            </if>
            <if test="sesActions != null">
                #{sesActions,jdbcType=VARCHAR},
            </if>
            <if test="logoffTime != null">
                #{logoffTime,jdbcType=TIMESTAMP},
            </if>
            <if test="logoffLread != null">
                #{logoffLread,jdbcType=DECIMAL},
            </if>
            <if test="logoffPread != null">
                #{logoffPread,jdbcType=DECIMAL},
            </if>
            <if test="logoffLwrite != null">
                #{logoffLwrite,jdbcType=DECIMAL},
            </if>
            <if test="logoffDlock != null">
                #{logoffDlock,jdbcType=VARCHAR},
            </if>
            <if test="commentText != null">
                #{commentText,jdbcType=VARCHAR},
            </if>
            <if test="sessionid != null">
                #{sessionid,jdbcType=DECIMAL},
            </if>
            <if test="entryid != null">
                #{entryid,jdbcType=DECIMAL},
            </if>
            <if test="statementid != null">
                #{statementid,jdbcType=DECIMAL},
            </if>
            <if test="returncode != null">
                #{returncode,jdbcType=DECIMAL},
            </if>
            <if test="privUsed != null">
                #{privUsed,jdbcType=VARCHAR},
            </if>
            <if test="clientId != null">
                #{clientId,jdbcType=VARCHAR},
            </if>
            <if test="econtextId != null">
                #{econtextId,jdbcType=VARCHAR},
            </if>
            <if test="sessionCpu != null">
                #{sessionCpu,jdbcType=DECIMAL},
            </if>
            <if test="extendedTimestamp != null">
                #{extendedTimestamp,jdbcType=OTHER},
            </if>
            <if test="proxySessionid != null">
                #{proxySessionid,jdbcType=DECIMAL},
            </if>
            <if test="globalUid != null">
                #{globalUid,jdbcType=VARCHAR},
            </if>
            <if test="instanceNumber != null">
                #{instanceNumber,jdbcType=DECIMAL},
            </if>
            <if test="osProcess != null">
                #{osProcess,jdbcType=VARCHAR},
            </if>
            <if test="scn != null">
                #{scn,jdbcType=DECIMAL},
            </if>
            <if test="sqlBind != null">
                #{sqlBind,jdbcType=OTHER},
            </if>
            <if test="sqlText != null">
                #{sqlText,jdbcType=OTHER},
            </if>
            <if test="objEditionName != null">
                #{objEditionName,jdbcType=VARCHAR},
            </if>
            <if test="dbid != null">
                #{dbid,jdbcType=DECIMAL},
            </if>
            <if test="transactionid != null">
                #{transactionid,jdbcType=VARBINARY},
            </if>
        </trim>
    </insert>
    <!-- zabbix审计日志 -->
    <select id="getZabbixShenji" resultType="map">
        select *
        from (select timestamp, username, action_name, sql_text, comment_text
              from ZABBIX_SHENJI
              order by timestamp desc)
        where rownum <![CDATA[<=]]> 60
    </select>

    <!-- 套管损坏预警系统日志 -->
    <select id="getCdnDataLog" resultType="map">
        select *
        from (select * from CDN_DATA_LOG t order by operate_date desc)
        where rownum <![CDATA[<=]]> 60
    </select>

    <!-- A2生产管理软件日志 -->
    <select id="getSysSrmLog" resultType="map">
        select *
        from (select * from SYS_SRM_LOG t order by t.occurtime desc)
        where rownum <![CDATA[<=]]> 60
    </select>
</mapper>